<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Migrador Temporal de pagos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UNFV - Migrador Temporal de pagos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">REPOSITORIO <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Estudiantes", "Repositorio")">Estudiantes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PREGRADO <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("CuotaPago", "Pregrado")">Cuota de pago</a></li>
                            <li><a href="@Url.Action("ConceptoPago", "Pregrado")">Conceptos de pago</a></li>
                            <li><a href="@Url.Action("Obligaciones", "Pregrado")">Obligaciones</a></li>
                            <li><a href="@Url.Action("Pagos", "Pregrado")">Pagos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">POSGRADO <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("CuotaPago", "Posgrado")">Cuota de pago</a></li>
                            <li><a href="@Url.Action("ConceptoPago", "Posgrado")">Conceptos de pago</a></li>
                            <li><a href="@Url.Action("Obligaciones", "Posgrado")">Obligaciones</a></li>
                            <li><a href="@Url.Action("Pagos", "Posgrado")">Pagos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EUDED <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("CuotaPago", "Euded")">Cuota de pago</a></li>
                            <li><a href="@Url.Action("ConceptoPago", "Euded")">Conceptos de pago</a></li>
                            <li><a href="@Url.Action("Obligaciones", "Euded")">Obligaciones</a></li>
                            <li><a href="@Url.Action("Pagos", "Euded")">Pagos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TASAS <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("CuotaPago", "Tasas")">Cuota de pago</a></li>
                            <li><a href="@Url.Action("ConceptoPago", "Tasas")">Conceptos de pago</a></li>
                            <li><a href="@Url.Action("Obligaciones", "Tasas")">Obligaciones</a></li>
                            <li><a href="@Url.Action("Pagos", "Tasas")">Pagos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CAJA PERIFERICA <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("CuotaPago", "CajaPeriferica")">Cuota de pago</a></li>
                            <li><a href="@Url.Action("ConceptoPago", "CajaPeriferica")">Conceptos de pago</a></li>
                            <li><a href="@Url.Action("Obligaciones", "CajaPeriferica")">Obligaciones</a></li>
                            <li><a href="@Url.Action("Pagos", "CajaPeriferica")">Pagos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content" style="padding-top: 50px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UNFV</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
