<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Migrador Temporal de pagos</title>
    @Styles.Render("~/content/css")
    @Styles.Render("~/content/datetime")
    @Styles.Render("~/content/select")
    @Styles.Render("~/content/fonts")

    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Assets/jquery/jquery.unobtrusive-ajax.js")"></script>
</head>
<body class="sidebar-collapse">
    <header>
        <nav class="navbar navbar-expand navbar-light bg-light-gray">
            @if (Request.IsAuthenticated)
            {
                <a class="sidebar-toggle" href="javascript:;" id="toggle-menu"><i class="fa fa-bars"></i></a>
            }

            <div class="navbar-header">
                @Html.ActionLink("UNFV - Migrador Temporal de pagos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-title d-none d-sm-inline-block", title = "Universidad Nacional Federico Villarreal" })
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @if (Request.IsAuthenticated)
            {
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <!-- <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
                        </li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle-o">&nbsp;</i> @User.Identity.Name
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                @if (User.Identity.Name == "administrador")
                                {
                                    <a class="dropdown-item modal-link" href="@Url.Action("ResetPassword", "Account")"><i class="fa fa-fw fa-user-secret">&nbsp;</i>Reiniciar Contraseña (admin)</a>
                                }
                                <a class="dropdown-item modal-link" href="@Url.Action("ChangePassword", "Account")"><i class="fa fa-fw fa-refresh">&nbsp;</i>Cambiar Contraseña</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Help")"><i class="fa fa-fw fa-life-ring">&nbsp;</i>Ayuda</a>
                                <div class="dropdown-divider"></div>
                                @using (Html.BeginForm("LogOut", "Account", new { area = "" }, FormMethod.Post, new { id = "LogOutForm", @class = "text-center" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a class="dropdown-item" href="javascript:document.getElementById('LogOutForm').submit()">
                                        <i class="fa fa-fw fa-power-off">&nbsp;</i>Cerrar Sesión
                                    </a>
                                }

                            </div>
                        </li>
                    </ul>
                </div>
            }
        </nav>
    </header>
    <main class="wrapper">
        @if (Request.IsAuthenticated)
        {
            <div id="sidebar">
                @Html.Partial("_Sidebar")
            </div>
        }
        <div class="content-wrapper pt-3 px-4">
            @RenderBody()
        </div>
    </main>

    <footer class="main-footer">
        <div class="container-fluid">
            <p class="text-muted">&copy @DateTime.Now.Year Elaborado por <a href="http://www.unfv.edu.pe/ceuci/">CEUCI - UNFV</a></p>
        </div>
    </footer>

    <div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="modal-container-label" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <p style="margin:50px;" class="text-center text-muted"><i class="fa fa-spin fa-3x fa-cog"></i></p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-container-lg" tabindex="-1" role="dialog" aria-labelledby="modal-container-label" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <p style="margin:50px;" class="text-center text-muted"><i class="fa fa-spin fa-3x fa-cog"></i></p>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-container-xl" tabindex="-1" role="dialog" aria-labelledby="modal-container-label" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <p style="margin:50px;" class="text-center text-muted"><i class="fa fa-spin fa-3x fa-cog"></i></p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/bundles/select")
    @Scripts.Render("~/bundles/app")
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(function () {
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            $('body').on('click', '.modal-link-lg', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container-lg');
                $(this).attr('data-toggle', 'modal');
            });

            $('body').on('click', '.modal-link-xl', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container-xl');
                $(this).attr('data-toggle', 'modal');
            });

            $('#modal-container-lg').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var url = button.attr("href");
                var modal = $(this);
                modal.find('.modal-content').load(url);
            });

            $('#modal-container-xl').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var url = button.attr("href");
                var modal = $(this);
                modal.find('.modal-content').load(url);
            });

            $('#modal-container').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var url = button.attr("href");
                var modal = $(this);
                modal.find('.modal-content').load(url);
            });

            $('#modal-container').on('hide.bs.modal', function () {
                $(this).removeData('bs.modal');
                $('#modal-container .modal-dialog').removeClass('modal-lg')
                $('#modal-container .modal-content').html('<p style="margin:50px;" class="text-center text-muted"><i class="fa fa-spin fa-3x fa-cog"></i></p>');
            });

            $('#modal-container-lg').on('hide.bs.modal', function () {
                $(this).removeData('bs.modal');
                $('#modal-container-lg .modal-content').html('<p style="margin:50px;" class="text-center text-muted"><i class="fa fa-spin fa-3x fa-cog"></i></p>');
            });

            $('#modal-container-xl').on('hide.bs.modal', function () {
                $(this).removeData('bs.modal');
                $('#modal-container-xl .modal-content').html('<p style="margin:50px;" class="text-center text-muted"><i class="fa fa-spin fa-3x fa-cog"></i></p>');
            });

            $('.select-filter').select2({
                theme: 'bootstrap4',
                placeholder: 'SELECCIONAR',
                allowClear: true
            });

            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
</body>
</html>
