@model IEnumerable<WebMigradorCtasPorCobrar.Models.Helpers.Response>
@{ 
    string proc = ViewBag.Procedencia;
}

<div class="col-12">
    <div class="row" id="validations">
        @foreach (var response in Model)
        {
            <div class="col-sm-2 col-md-4" id="result_validation_@response.Redirect">
                <div class="card text-white bg-@response.Color my-3">
                    <div class="card-header">
                        <strong>@response.CurrentID</strong>
                        <button class="pull-right btn btn-sm btn-outline-secondary validate" data-obs="@response.Redirect" 
                           data-url="@Url.Action(response.Action, response.Controller, new { procedencia = proc, observacionId = response.Redirect })">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <div class="card-body" id="result_body_@response.Redirect">
                        <h5 class="card-title">@response.ObjMessage.Title</h5>
                        <p class="card-text h5">@Html.Raw(response.ObjMessage.Value)</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script>

    $('#validations').on('click', '.validate', function () {
        debugger
        let urlValidate = $(this).data('url');
        let obs = $(this).data('obs');
        $.ajax({
            url: urlValidate,
            type: 'POST',
            cache: false,
            beforeSend: function () {
                $('#result_validation_' + obs).html('<div class="row"><p class="text-center"><i class="fa fa-spin fa-cog"></i></p></div>');
            },
            success: function (data) {
                $('#result_validation_' + obs).html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#result_validation_' + obs).html('<div><p class="alert alert-danger">' + jqXHR.responseText + '</p></div>');
            }
        });
    })
</script>