@model WebMigradorCtasPorCobrar.Models.Helpers.Response
@{
    string proc = ViewBag.Procedencia;
    string tipData = ViewBag.TipoData;
}

<div class="card text-white bg-@Model.Color my-3">
    <div class="card-header">
        <strong>@Model.CurrentID</strong>
        <button class="pull-right btn btn-sm btn-outline-secondary validate" data-obs="@Model.Redirect"
           data-url="@Url.Action(Model.Action, Model.Controller, new {tipoData = tipData, procedencia = proc, observacionId = Model.Redirect })">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <div class="card-body" id="result_body_@Model.Redirect">
        <h5 class="card-title">@Model.ObjMessage.Title</h5>
        <p class="card-text h5">@Html.Raw(Model.ObjMessage.Value)</p>
    </div>
</div>

