

@model IEnumerable<WebMigradorCtasPorCobrar.Models.Entities.AlumnoMG>
@using GridMvc.Html

<div class="table-responsive" style="min-height:300px">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.C_CodAlu).Titled("Codigo").Filterable(true);
    columns.Add(c => c.T_ApePaterno).Titled("Ape. Paterno").Filterable(true);
    columns.Add(c => c.T_ApeMaterno).Titled("Ape. Materno").Filterable(true);
    columns.Add(c => c.T_Nombre).Titled("Nombre").Filterable(true);
    columns.Add(c => c.C_CodTipDoc).Titled("Tipo Doc.").Filterable(true);
    columns.Add(c => c.C_NumDNI).Titled("Nro DNI.").Filterable(true);
    columns.Add(c => c.C_Sexo).Titled("Sexo").Filterable(true);
    columns.Add(c => c.C_RcCod).Titled("Cod RC").Filterable(true);
    columns.Add(c => c.C_AnioIngreso).Titled("Año Ingr.").Filterable(true);
    columns.Add(c => c.C_CodModIng).Titled("Mod Ing").Filterable(true);
    columns.Add(c => c.B_Migrable).Titled("Migrable").Filterable(true);
    columns.Add().SetWidth(150).Css("text-right").Encoded(false).Sanitized(false)
                 .RenderValueAs(model => model.B_Migrable ?
                                        @Html.Raw("")
                                        : @Html.Raw($"<a href=\"{ Url.Action("ConceptoPagoObserv", "Posgrado", new { id = model.I_RowID, area = "" })}\" class=\"modal-link\"><i class=\"fa fa-search-plus\" aria-hidden=\"true\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Observacion</span></a>"));
    columns.Add().SetWidth(120).Css("text-right").Encoded(false).Sanitized(false)
                   .RenderValueAs(model => model.B_Migrable ?
                                        @Html.Raw("")
                                        : @Html.Raw($"<a href=\"{ Url.Action("ConceptoPagoEdit", "Posgrado", new { id = model.I_RowID, area = "" })}\" class=\"modal-link\"><i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Corregir</span></a>"));
}
    ).WithPaging(30).Sortable(true).WithGridItemsCount("Registros encontrados").EmptyText("No se encontraron registros")
</div>
