
@model IEnumerable<WebMigradorCtasPorCobrar.Models.Entities.Migracion.Obligacion>
@using GridMvc.Html


<div class="table-responsive" style="min-height:300px">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Ano).Css("text-center").Titled("Año").Filterable(true);
    columns.Add(c => c.P).Css("text-center").Titled("Periodo").Filterable(true);
    columns.Add(c => c.Cuota_pago).Css("text-center").Titled("Cuota Pago").Filterable(true);
    columns.Add(c => c.Cod_alu).Titled("Cod. Alumno").Filterable(true);
    columns.Add(c => c.Fch_venc).RenderValueAs(model => model.Fch_venc.ToShortDateString()).Titled("Fec. Venc.").Filterable(true);
    columns.Add(c => c.Monto).Css("text-right").Titled("Monto").Filterable(true);
    columns.Add(c => c.B_Migrable).Css("text-center").Encoded(false).Sanitized(false)
           .RenderValueAs(model => model.B_Migrable ? Html.Raw("<i class=\"fa fa-check-circle text-success\"></i>") : Html.Raw("<i class=\"fa fa-times-circle text-danger\"></i>"))
           .Titled("Migrable").Filterable(true);
    columns.Add(c => c.B_Migrado).Css("text-center").Encoded(false).Sanitized(false)
            .RenderValueAs(model => model.B_Migrado ? Html.Raw("<i class=\"fa fa-check-circle text-success\"></i>") : Html.Raw("<i class=\"fa fa-times-circle text-danger\"></i>"))
            .Titled("Migrado").Filterable(true);
    columns.Add().SetWidth(150).Css("text-right").Encoded(false).Sanitized(false)
           .RenderValueAs(model => model.B_Migrable ?
                                    @Html.Raw("")  :
                                    @Html.Raw($"<a href=\"{ Url.Action("Observaciones", "Obligaciones", new { id = model.I_RowID, area = "" })}\" class=\"modal-link\"><i class=\"fa fa-search-plus\" aria-hidden=\"true\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Observacion</span></a>"));
    columns.Add().SetWidth(120).Css("text-right").Encoded(false).Sanitized(false)
                   .RenderValueAs(model => model.B_Migrable ?
                                        @Html.Raw("")
                                        : @Html.Raw($"<a href=\"{ Url.Action("Editar", "Obligaciones", new { id = model.I_RowID, area = "" })}\" class=\"modal-link\"><i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Corregir</span></a>"));
}
    ).WithPaging(20).Sortable(true).WithGridItemsCount("Registros encontrados").EmptyText("No se encontraron registros")
</div>


<script>
    $('#btn-tp').removeClass('active');
    $('#btn-mg').addClass('active');
    $('#btn-proc').removeClass('active');
</script>
