@model WebMigradorCtasPorCobrar.Models.Entities.Migracion.ConceptoPago

<div class="col-12">
    <p class="h6 mt-3">Cuota de pago @Model.Cuota_pago en cp_des</p>
    <table class="table table-sm table-hover" style="font-size:12px;">
        <thead class="thead-dark">
            <tr>
                <th>Cuota Pago</th>
                <th>Año</th>
                <th>Periodo</th>
                <th>Categoría</th>
                <th>Eliminado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CuotasPago)
            {
                <tr>
                    <td>@item.Cuota_pago - @item.Descripcio</td>
                    <td>@item.I_Anio</td>
                    <td>@item.PeriodoDesc</td>
                    <td>@item.CatPagoDesc</td>
                    <td>@item.Eliminado</td>
                </tr>
            }
        </tbody>
    </table>
    <p class="h6 mt-3">Cconcepto de Pago @Model.Id_cp - @Model.Descripcio en ec_det</p>
    <table class="table table-sm table-hover" style="font-size:12px;">
        <thead class="thead-dark">
            <tr>
                <th>Cuota Pago</th>
                <th>Concepto</th>
                <th>Año</th>
                <th>Periodo</th>
                <th>Eliminado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DetalleObligaciones)
            {
                <tr>
                    <td>@item.Cuota_pago</td>
                    <td>@item.Concepto - @item.Descripcio</td>
                    <td>@item.Ano</td>
                    <td>@item.P</td>
                    <td>@item.Eliminado</td>
                </tr>
            }
        </tbody>
    </table>
</div>

