
@model IEnumerable<WebMigradorCtasPorCobrar.Models.Entities.Migracion.CuotaPago>
@using GridMvc.Html

@{ 
    string str_procedencia = ViewBag.Procedencia.ToString();
}
<div class="row mb-5 form-inline">
    <div class="col-md-2 col-sm-3">
        <label class="control-label">Filtro observación</label>
    </div>
    <div class="">
        @Html.DropDownList("cboTipoObs", ViewBag.Observaciones as SelectList, "- SIN FILTRO -", new { @class = "form-control" })
    </div>

    <div class="col-md-2 col-sm-3" id="link-exportar">
        <a href="@Url.Action("ExportarObservaciones", "CuotaPago", new { id = ViewBag.IdObservacion, procedencia = ViewBag.Procedencia })">
            <i class="fa fa-file-excel-o"></i> Exportar Observaciones
        </a>
    </div>
    <div id="spinner-loading" class="spinner-border text-info mx-4" role="status" style="display:none;">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="table-responsive" style="min-height:300px; font-size: 13px;">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.Cuota_pago).Titled("Codigo").Filterable(true);
        columns.Add(c => c.Descripcio).Titled("Descripción").Filterable(true);
        columns.Add(c => c.I_Anio).Css("text-center").Titled("Año").Filterable(true);
        columns.Add(c => c.PeriodoDesc).Css("text-center").Titled("Periodo").Filterable(true);
        columns.Add(c => c.N_cta_cte).Titled("Nro. Cuenta").Filterable(true);
        columns.Add(c => c.Codigo_bnc).Css("text-center").Titled("Cod. BNC").Filterable(true);
        columns.Add(c => c.Fch_venc).Css("text-center").RenderValueAs(model => model.Fch_venc.ToShortDateString()).Titled("Fec. Venc").Filterable(true);
        //columns.Add(c => c.Prioridad).Css("text-center").Titled("Prioridad").Filterable(true);
        //columns.Add(c => c.C_mora).Css("text-center").Encoded(false).Sanitized(false).Titled("Mora").Filterable(true)
        //        .RenderValueAs(model => model.C_mora ? Html.Raw("<span class=\"h5\"><i class=\"fa fa-check-circle text-info\"></i></span>")
        //                                             : Html.Raw("<span class=\"h5\"><i class=\"fa fa-minus-circle text-secondary\"></i></span>"));
        columns.Add(c => c.Eliminado).Css("text-center").Encoded(false).Sanitized(false).Titled("Eliminado").Filterable(true)
                .RenderValueAs(model => model.Eliminado ? Html.Raw("<span class=\"h6\"><i class=\"fa fa-check-circle text-warning\"></i></span>")
                                                        : Html.Raw("<span class=\"h6\"><i class=\"fa fa-minus-circle text-secondary\"></i></span>"));
        columns.Add(c => c.B_ExisteCtas).Css("text-center").Encoded(false).Sanitized(false).Titled("Ctas. Cobrar").Filterable(true)
                .RenderValueAs(model => model.B_ExisteCtas ? Html.Raw("<span class=\"h6\"><i class=\"fa fa-check-circle text-success\"></i></span>")
                                                        : Html.Raw("<span class=\"h6\"><i class=\"fa fa-times-circle text-danger\"></i></span>"));
        columns.Add(c => c.B_Migrable).Css("text-center").Encoded(false).Sanitized(false).Titled("Migrable").Filterable(true)
                .RenderValueAs(model => model.B_Migrable ? Html.Raw("<span class=\"h6\"><i class=\"fa fa-check-circle text-success\"></i></span>")
                                                         : Html.Raw("<span class=\"h6\"><i class=\"fa fa-times-circle text-danger\"></i></span>"));
        columns.Add(c => c.B_Migrado).Css("text-center").Encoded(false).Sanitized(false).Titled("Migrado").Filterable(true)
                .RenderValueAs(model => model.B_Migrado ? Html.Raw("<span class=\"h6\"><i class=\"fa fa-check-circle text-success\"></i></span>")
                                                        : Html.Raw("<span class=\"h6\"><i class=\"fa fa-times-circle text-danger\"></i></span>"));
        columns.Add().SetWidth(120).Css("text-right").Encoded(false).Sanitized(false)
                .RenderValueAs(model => model.B_ExisteCtas ? Html.Raw($"<a href=\"{ Url.Action("VerDatos", "CuotaPago", new { id = model.I_RowID, procedencia = str_procedencia, area = "" })}\" class=\"modal-link-lg\"><i class=\"fa fa-copy\"aria-hidden=\"true\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Comparar</span></a>")
                                                           : Html.Raw($"<a href=\"{ Url.Action("VerDatos", "CuotaPago", new { id = model.I_RowID, procedencia = str_procedencia, area = "" })}\" class=\"modal-link-lg\"><i class=\"fa fa-copy\"aria-hidden=\"true\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Ver todo</span></a>"));
        columns.Add().SetWidth(90).Css("text-right").Encoded(false).Sanitized(false)
               .RenderValueAs(model => !model.B_Migrable ? @Html.Raw("")
                                                         : @Html.Raw($"<a href=\"{ Url.Action("Editar", "CuotaPago", new { id = model.I_RowID, area = "" })}\" class=\"modal-link-lg\"><i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Editar</span></a>"));
        columns.Add().SetWidth(120).Css("text-right").Encoded(false).Sanitized(false)
                .RenderValueAs(model => model.B_Migrable ? @Html.Raw("")
                                                         : @Html.Raw($"<a href=\"{ Url.Action("Observaciones", "CuotaPago", new { id = model.I_RowID, area = "" })}\" class=\"modal-link-lg\">" +
                                                                     $"<i class=\"fa fa-search-plus\" aria-hidden=\"true\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Observaciones</span>" +
                                                                     $"</a>"));
    }
    ).WithPaging(20).Sortable(true).WithGridItemsCount("Registros encontrados").EmptyText("No se encontraron registros")
</div>


<script>
    $('#btn-tp').removeClass('active');
    $('#btn-mg').addClass('active');
    $('#btn-proc').removeClass('active');

    $('#cboTipoObs').on('change', function () {
        $('#link-exportar').hide();
        $('#spinner-loading').show();
       location.href = '@Url.Action(str_procedencia, "CuotaPago", new { area = "", partial = "DatosMigracion" })' + '&tipo_obs=' + this.value;
    })

</script>
