
@model IEnumerable<WebMigradorCtasPorCobrar.Models.Entities.Migracion.CuotaPago>
@using GridMvc.Html


<div class="table-responsive" style="min-height:300px">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Cuota_pago).Titled("Codigo").Filterable(true);
    columns.Add(c => c.Descripcio).Titled("Descripción").Filterable(true);
    columns.Add(c => c.N_cta_cte).Titled("Nro. Cuenta").Filterable(true);
    columns.Add(c => c.Eliminado).Titled("Eliminado").Filterable(true);
    columns.Add(c => c.Codigo_bnc).Titled("Codigo BNC").Filterable(true);
    columns.Add(c => c.Fch_venc).Titled("Fec. Venc").Filterable(true);
    columns.Add(c => c.Prioridad).Titled("Prioridad").Filterable(true);
    columns.Add(c => c.C_mora).Titled("Mora").Filterable(true);
    columns.Add(c => c.B_Migrable).Titled("Migrable").Filterable(true);
    columns.Add().SetWidth(150).Css("text-right").Encoded(false).Sanitized(false)
                 .RenderValueAs(model => model.B_Migrable ?
                                        @Html.Raw("")
                                        : @Html.Raw($"<a href=\"{ Url.Action("CuotaPagoObserv", "Posgrado", new { id = model.I_RowID, area = "" })}\" class=\"modal-link\"><i class=\"fa fa-search-plus\" aria-hidden=\"true\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Observacion</span></a>"));
    columns.Add().SetWidth(120).Css("text-right").Encoded(false).Sanitized(false)
                   .RenderValueAs(model => model.B_Migrable ?
                                        @Html.Raw("")
                                        : @Html.Raw($"<a href=\"{ Url.Action("CuotaPagoEdit", "Posgrado", new { id = model.I_RowID, area = "" })}\" class=\"modal-link\"><i class=\"fa fa-pencil-square-o\" aria-hidden=\"true\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Corregir</span></a>"));
}
    ).WithPaging(20).Sortable(true).WithGridItemsCount("Registros encontrados").EmptyText("No se encontraron registros")
</div>


<script>
    $('#btn-tp').removeClass('active');
    $('#btn-mg').addClass('active');
    $('#btn-proc').removeClass('active');
</script>
